{% extends "base.html" %}
{% load static %}
{% load navigation_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="hero-container">
        <div class="govuk-width-container">
            <div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="hero-container--search">
                            {% search_box %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="main-content">

            {% for row in child_categories %}
                <div class="govuk-grid-row">
                    {% for category in row %}
                        <div class="{{ featured_column_classname }}">
                            <a class="featured-container" href="{{ category.url }}">
                                <h2 class="govuk-heading-m">
                                    {{ category.title }}
                                </h2>
                                {% if category.intro %}
                                    <p class="govuk-body">
                                        {{ category.intro }}
                                    </p>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}


            <div class="govuk-grid-row govuk-!-margin-top-8">

                <div class="govuk-grid-column-full">

                    <h2 class="govuk-heading-m">
                        Recent activity
                    </h2>

                    {% for post in recent %}
                        <h4 class="govuk-heading-m govuk-!-margin-bottom-1 article-list__title">
                            <a class="govuk-link"
                               href="{% pageurl post %}">{{ post.title }}</a>
                        </h4>
                        <p class="govuk-body-s govuk-!-margin-bottom-1">
                            <span class="article-date">
                                {{ post.date|date:"d/m/Y" }}
                            </span>
                            <span class="article-author">
                                {% article_author post %}
                            </span>

                        </p>
                        {% if post.intro %}
                            <p class="govuk-body article-list__short-description">
                                {{ post.intro }}
                            </p>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>
        </main>
    </div>
{% endblock %}
