{% extends "base.html" %}

{% load navigation_tags wagtailcore_tags %}

{% block body_class %}template-articlepage{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs %}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="main-content">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <h2 class="govuk-heading-s">Articles in this section</h2>

                    <ul class="govuk-dit-sidenav">
                        {% for sibling in siblings %}
                            <li>
                                {% if page.url == sibling.url %}
                                    {{ sibling.title }}
                                {% else %}
                                    <a href="{{ sibling.url }}">{{ sibling.title }}</a>
                                {% endif %}
                            </li>

                        {% endfor %}
                    </ul>

                </div>

                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-l">{{ page.title }}</h1>
                    {% for post in page.get_children.live.specific %}
                        <h4 class="govuk-heading-m govuk-!-margin-bottom-1 article-list__title">
                            <a class="govuk-link"
                               href="{% pageurl post %}">{{ post.title }}</a>
                        </h4>
                        <p class="govuk-body-s govuk-!-margin-bottom-1">
                            {{ post.date|date:"d/m/Y" }}
                        </p>
                        {% if post.intro %}
                            <p class="govuk-body article-list__short-description">
                                {{ post.intro }}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </main>
    </div>
{% endblock %}