{% extends "base.html" %}
{% load static wagtailcore_tags helpcentre_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
      <div class="hero-container">
        <div class="govuk-width-container">
            <div class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {% search_box 'Type your search phrase and click the magnifying glass. Or press the enter key' search_query %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Results</h1>

                    {% if search_results %}
                        <ul class="govuk-list">
                            {% for result in search_results %}
                                <li>
                                    <h4 class="govuk-!-margin-bottom-0">
                                        <a class="govuk-link" href="{% pageurl result %}">{{ result }}</a>
                                    </h4>
                                    <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-margin-top-1">
                                    {% tags_using_breadcrumbs result %}
                                    </p>
                                    {% if result.search_description %}
                                        {{ result.search_description }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if search_results.has_previous %}
                            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
                        {% endif %}

                        {% if search_results.has_next %}
                            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
                        {% endif %}
                    {% elif search_query %}
                        <p class="govuk-body">
                            No results found
                        </p>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>


{% endblock %}
