.template-articlepage {

  .block-image {
    text-align: center;
  }

  img {
    border: solid 1px #ddd;
    max-width: 100%;
    padding: 1rem;

    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;

    width: auto;
    height: auto;

  }

}

.template-articleindexpage {
  color: green;

  .article-group--title {
    //color: red !important;
  }

}

.ordered-article-list_link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ordered-article-list_title {
  a {
    //text-decoration-color: #dedede;

    &:hover {
      text-decoration: underline;

    }
  }
}
