.template-articlepage {

  .block-image {
    text-align: center;
  }

  img {
    border: solid 1px #ddd;
    max-width:100%;
    padding: 1rem;
    //box-shadow: 0 2px 3px #ccc;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }


}