$datahub-gray: #dee0e2;

.hero-container {
  background-color: $datahub-gray;
}

.hero-container--search {
  width: 80%;
  margin: 0 auto;
}

$featured-fg-colour: white;
$featured-bg-colour: govuk-organisation-colour(
  "department-for-international-trade",
  true
);

.featured-container {
  box-sizing: border-box;
  display: block;
  color: $featured-fg-colour;

  a,
  h2,
  p {
    color: $featured-fg-colour;
  }

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    max-height: 50px;
    overflow: hidden;
  }

  background-color: $featured-bg-colour;
  $border-color: darken($featured-bg-colour, 5%);
  box-sizing: border-box;

  padding: 1rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;

  min-height: 9rem;

  overflow: hidden;
  text-decoration: none;

  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: desaturate($featured-bg-colour, 100%);
  }
}

// To remove the border from the phase banner
.template-homepage,
.template-searchresults {
  .govuk-phase-banner {
    border-bottom-color: white;
  }
}

// override the default logo width of 33%
.govuk-header__logo {
  @include govuk-media-query($from: tablet) {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
