$govuk-assets-path: '/static/assets/';
$govuk-page-width: 1160px;

$govuk-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@import '../../node_modules/govuk-frontend/govuk/all.scss';

//Following the great.gov.uk styles body text is Roboto and Headings are Overpass
//There is no simple way (that I've found) to set heading font family via sass variables

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s {
  font-family: $govuk-font-family;

  a {
    font-family: $govuk-font-family;
  }
}


@import "home";
@import "richtext";
@import "article";
@import "search";
@import "recent";

.article-list__item {
  position: relative;
}

.article-list__title {
  //@include govuk-font($size: 19);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-list__short-description {
  //overflow: hidden;
  //white-space: nowrap;
  text-overflow: ellipsis;
}

.article-date {
  color: $govuk-secondary-text-colour;
}

.article-author {
  color: $govuk-secondary-text-colour;
}

.govuk-dit-sidenav {
  @extend .govuk-list;

  li {
    margin-bottom: 1rem;
  }

  a {
    @extend .govuk-link;
  }
}

.inline-breadcrumbs {

  .inline-breadcrumbs--item {

    border-left: solid 1px #ccc;
    padding: 0 0.5rem;

    &:nth-of-type(1) {
      border-left: none;
      padding-left: 0;
    }

  }
}
