$govuk-assets-path: '/static/assets/';
$govuk-page-width: 1160px;

$govuk-font-family: 'Roboto', Arial, "Helvetica Neue", sans-serif;

@import '../../node_modules/govuk-frontend/govuk/all.scss';

 //Following the great.gov.uk styles body text is Roboto and Headings are Overpass
 //There is no simple way (that I've found) to set heading font family via sass variables

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s {
  font-family: 'Overpass', sans-serif;

  a {
    font-family: 'Overpass', sans-serif;
  }
}


@import "home";
@import "richtext";
@import "article";
@import "search";

.article-list__item {
  position: relative;
}

.article-list__title {
  //@include govuk-font($size: 19);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-list__short-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-date {
  color: $govuk-secondary-text-colour;
}

.article-author {
  color: $govuk-secondary-text-colour;
}

.govuk-dit-sidenav {
  @extend .govuk-list;

  li {
    margin-bottom: 1rem;
  }

  a {
    @extend .govuk-link;
  }
}

