<section class="govuk-border--top govuk-!-margin-top-5">
    <div class="govuk-width-container govuk-!-padding-top-7">
        <form>
            {% csrf_token %}
            <p class="govuk-body">Was this page helpful?</p>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="postInlineFeedback()" type="submit" name="feedback" value="Yes">Yes</button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="postInlineFeedback()" type="submit" name="feedback" value="No">No</button>
        </form>
    </div>
</section>

<script>
    const postInlineFeedback = async function(csrf_token){
        const response = await fetch("{% url 'submit_feedback' %}", {
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
            },
            method: 'POST',
            body: JSON.stringify(payload)
        });
    }
</script>