<fieldset class="govuk-fieldset govuk-!-margin-bottom-5">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h3 class="govuk-fieldset__heading">
      Tell us more about your experience (optional)
    </h3>
  </legend>
  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-1"
        name="choices"
        type="checkbox"
        value="I did not find the information I needed"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-1">
        I did not find the information I needed
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-2"
        name="choices"
        type="checkbox"
        value="I followed the instructional steps and it did not resolve my issue"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-2">
        I followed the instructional steps and it did not resolve my issue
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-3"
        name="choices"
        type="checkbox"
        value="The title does not describe the content"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-3">
        The title does not describe the content
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-4"
        name="choices"
        type="checkbox"
        value="It's inaccurate or out of date"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-4">
        It's inaccurate or out of date
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-5"
        name="choices"
        type="checkbox"
        value="There's an error on this page"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-4">
        There's an error on this page
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-6"
        name="choices"
        type="checkbox"
        value="I'm not sure what to do next"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-4">
        I'm not sure what to do next
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-7"
        name="choices"
        type="checkbox"
        value="Other"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-4">
        Other
      </label>
    </div>
  </div>
</fieldset>
<div class="govuk-form-group">
  <h3 class="govuk-label-wrapper govuk-!-margin-bottom-3">
    <label class="govuk-label govuk-label--s" for="more-detail">
      Help us improve this page by giving more detail (optional)
    </label>
  </h3>
  <textarea
    class="govuk-textarea"
    id="more-detail"
    name="more-detail"
    rows="5"
  ></textarea>
</div>
