<fieldset class="govuk-fieldset govuk-!-margin-bottom-5">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h3 class="govuk-fieldset__heading">
      Tell us more about why this page was helpful (optional)
    </h3>
  </legend>
  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-1"
        name="choices"
        type="checkbox"
        value="I found the information I needed"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-1">
        I found the information I needed
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-2"
        name="choices"
        type="checkbox"
        value="It was easy to find relevant datasets"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-2">
        It was easy to find relevant datasets
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-3"
        name="choices"
        type="checkbox"
        value="The filters helped me narrow down my search results"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-3">
        The filters helped me narrow down my search results
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-4"
        name="choices"
        type="checkbox"
        value="It was easy to determine what datasets could be useful"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-4">
        It was easy to determine what datasets could be useful
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input
        class="govuk-checkboxes__input"
        id="choice-5"
        name="choices"
        type="checkbox"
        value="Other"
      />
      <label class="govuk-label govuk-checkboxes__label" for="choice-5">
        Other
      </label>
    </div>
  </div>
</fieldset>

<div class="govuk-form-group">
  <h3 class="govuk-label-wrapper govuk-!-margin-bottom-3">
    <label class="govuk-label govuk-label--s" for="more-detail">
      Is there anything else you can tell us? (optional)
    </label>
  </h3>
  <textarea
    class="govuk-textarea"
    id="more-detail"
    name="more-detail"
    rows="5"
  ></textarea>
</div>
